#container {
    width: 700px;
    height: 400px;
    background-color: blanchedalmond;
    /*
    border: 2px dotted grey;
    border-radius: 50%;
*/
}

#header {
    width: 500px;
    height: 50px;
    background-color: floralwhite;
    border: 1px dashed grey;
}

#main {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border: 2px dotted black;
    border-radius: 50%;
}

#footer {
    width: 200px;
    height: 200px;
    background-color: beige;
    border: 5px solid tan;
}
