body {
    background-color: #f2f2f2;
    background-image: url("../images/background_image3.jpg");
    background-size: cover;
}

header {
    width: 700px;
    border: 1px dashed #000000;
    margin: 0 auto;
    background-color: #f2f2f2;
}

h1 {
    font: bold 40px "Georgia", sans-serif;
    color: #868679;
}

li, p {
    font: 20px "Didot", serif;
    color: #808000;      
}

a:link {
    color: #999966;
}

a:visited {
    color: #bfbf40;
}

a:hover {
    color: #000000;
}

a:active {
    color: #e6e600;
}

main {
    width: 700px;
    border: 1px solid #000000;
    margin: 0 auto;
    background-color: #f2f2f2;
}

footer {
    width: 700px;
    border: 1px dotted #000000;
    margin: 0 auto;
    background-color: #f2f2f2;
}

#copyright {
    text-align: center;
}
